Repository openshift-helm-charts/charts, pull requests merged in 2021-09, with the labels that each got.

#319 Add eap74 1.1.0 chart
  charts/redhat/redhat/eap74/1.1.0/eap74-1.1.0.tgz
  charts/redhat/redhat/eap74/1.1.0/report.yaml
Labels: sanity-ok, authorized-request

#323 Add Helm Chart for EAP XP 3
  charts/redhat/redhat/eap-xp3/1.0.0/eap-xp3-1.0.0.tgz
  charts/redhat/redhat/eap-xp3/1.0.0/report.yaml
Labels: sanity-ok, authorized-request

#327 Adding Fortanix DSM Chart version 2.2
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/report.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/Chart.lock
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/Chart.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/README.md
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/.helmignore
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/Chart.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/templates/NOTES.txt
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/templates/_helpers.tpl
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/templates/cluster-role-bindings.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/templates/cluster-role.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/templates/job.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/templates/namespace.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/templates/service-account.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/cert-setup/values.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/charts/fortanix-cert-setup-1.1.tgz
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/templates/NOTES.txt
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/templates/_helpers.tpl
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/templates/mutating-webhook.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/templates/sidecar-configmap.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/templates/sidecar-injector-deployment.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/templates/tests/test-controller.yaml
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/values.schema.json
  charts/partners/fortanix/dsm-secrets-injector-chart/2.2-4.6/src/values.yaml
Labels: sanity-ok

#305 Add Infinispan chart
  charts/community/infinispan/infinispan/0.1.0/infinispan-0.1.0.tgz
Labels: sanity-ok, authorized-request, force-publish

#333 Vault 0.16.0
  charts/partners/hashicorp/vault/0.16.0/src/.helmignore
  charts/partners/hashicorp/vault/0.16.0/src/CHANGELOG.md
  charts/partners/hashicorp/vault/0.16.0/src/CONTRIBUTING.md
  charts/partners/hashicorp/vault/0.16.0/src/Chart.yaml
  charts/partners/hashicorp/vault/0.16.0/src/LICENSE.md
  charts/partners/hashicorp/vault/0.16.0/src/Makefile
  charts/partners/hashicorp/vault/0.16.0/src/README.md
  charts/partners/hashicorp/vault/0.16.0/src/templates/NOTES.txt
  charts/partners/hashicorp/vault/0.16.0/src/templates/_helpers.tpl
  charts/partners/hashicorp/vault/0.16.0/src/templates/csi-clusterrole.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/csi-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/csi-daemonset.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/csi-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-certs-secret.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-clusterrole.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-deployment.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-leader-endpoint.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-mutating-webhook.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-network-policy.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-psp-role.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-psp.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-role.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-rolebinding.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-service.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/injector-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-config-configmap.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-discovery-role.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-discovery-rolebinding.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-disruptionbudget.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-ha-active-service.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-ha-standby-service.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-headless-service.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-ingress.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-network-policy.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-psp-role.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-psp.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-route.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-service.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/server-statefulset.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/tests/server-test.yaml
  charts/partners/hashicorp/vault/0.16.0/src/templates/ui-service.yaml
  charts/partners/hashicorp/vault/0.16.0/src/values.openshift.yaml
  charts/partners/hashicorp/vault/0.16.0/src/values.schema.json
  charts/partners/hashicorp/vault/0.16.0/src/values.yaml
Labels: sanity-ok, authorized-request

#339 Add 2.1.4 charts for ibm-object-storage-plugin
  charts/partners/ibm/ibm-object-storage-plugin/2.1.4/report.yaml
Labels: sanity-ok, authorized-request

#326 update nodejs chart to fix failures
  charts/redhat/redhat/nodejs/0.0.2/src/Chart.yaml
  charts/redhat/redhat/nodejs/0.0.2/src/README.md
  charts/redhat/redhat/nodejs/0.0.2/src/templates/NOTES.txt
  charts/redhat/redhat/nodejs/0.0.2/src/templates/_helpers.tpl
  charts/redhat/redhat/nodejs/0.0.2/src/templates/buildconfig.yaml
  charts/redhat/redhat/nodejs/0.0.2/src/templates/deployment.yaml
  charts/redhat/redhat/nodejs/0.0.2/src/templates/imagestream.yaml
  charts/redhat/redhat/nodejs/0.0.2/src/templates/route.yaml
  charts/redhat/redhat/nodejs/0.0.2/src/templates/service.yaml
  charts/redhat/redhat/nodejs/0.0.2/src/templates/tests/test-chart.yaml
  charts/redhat/redhat/nodejs/0.0.2/src/values.schema.json
  charts/redhat/redhat/nodejs/0.0.2/src/values.yaml
Labels: sanity-ok, authorized-request

#347 Vault 0.16.1
  charts/partners/hashicorp/vault/0.16.1/src/.helmignore
  charts/partners/hashicorp/vault/0.16.1/src/CHANGELOG.md
  charts/partners/hashicorp/vault/0.16.1/src/CONTRIBUTING.md
  charts/partners/hashicorp/vault/0.16.1/src/Chart.yaml
  charts/partners/hashicorp/vault/0.16.1/src/LICENSE.md
  charts/partners/hashicorp/vault/0.16.1/src/Makefile
  charts/partners/hashicorp/vault/0.16.1/src/README.md
  charts/partners/hashicorp/vault/0.16.1/src/templates/NOTES.txt
  charts/partners/hashicorp/vault/0.16.1/src/templates/_helpers.tpl
  charts/partners/hashicorp/vault/0.16.1/src/templates/csi-clusterrole.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/csi-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/csi-daemonset.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/csi-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-certs-secret.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-clusterrole.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-deployment.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-leader-endpoint.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-mutating-webhook.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-network-policy.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-psp-role.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-psp.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-role.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-rolebinding.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-service.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/injector-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-config-configmap.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-discovery-role.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-discovery-rolebinding.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-disruptionbudget.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-ha-active-service.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-ha-standby-service.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-headless-service.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-ingress.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-network-policy.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-psp-role.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-psp.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-route.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-service.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/server-statefulset.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/tests/server-test.yaml
  charts/partners/hashicorp/vault/0.16.1/src/templates/ui-service.yaml
  charts/partners/hashicorp/vault/0.16.1/src/values.openshift.yaml
  charts/partners/hashicorp/vault/0.16.1/src/values.schema.json
  charts/partners/hashicorp/vault/0.16.1/src/values.yaml
Labels: sanity-ok, authorized-request

#348 OMS Professional report for Q3 2021
  charts/partners/ibm/ibm-oms-pro-prod/6.0.2/report.yaml
Labels: sanity-ok, authorized-request

#349 OMS Enterprise report for Q3 2021
  charts/partners/ibm/ibm-oms-ent-prod/6.0.2/report.yaml
Labels: sanity-ok, authorized-request
