Repository openshift-helm-charts/charts, pull requests merged in 2021-07, with the labels that each got.

#226 IBM OMS Enterprise chart
  charts/partners/ibm/ibm-oms-ent-prod/6.0.1/report.yaml
Labels: authorized-request, sanity-ok

#227 IBM OMS Professional chart
  charts/partners/ibm/ibm-oms-pro-prod/6.0.1/report.yaml
Labels: authorized-request, sanity-ok

#229 No need to pass msg to get_vendor_type function
  scripts/src/chartprreview/chartprreview.py
Labels: bug

#232 results of chart-verifier
  charts/partners/ibm/ibm-operator-catalog-enablement/1.2.1/report.yaml
Labels: authorized-request, force-publish, sanity-ok

#236 Adding quarkus to charts.openshift.io
  charts/redhat/redhat/quarkus/0.0.3/quarkus-0.0.3.tgz
  charts/redhat/redhat/quarkus/0.0.3/report.yaml
Labels: authorized-request, sanity-ok

#237 Adding Red Hat DotNet chart to charts.openshift.io
  charts/redhat/redhat/dotnet/0.0.1/dotnet-0.0.1.tgz
  charts/redhat/redhat/dotnet/0.0.1/report.yaml
Labels: authorized-request, sanity-ok

#238 Adding nodejs chart to charts.openshift.io
  charts/redhat/redhat/nodejs/0.0.1/nodejs-0.0.1.tgz
  charts/redhat/redhat/nodejs/0.0.1/report.yaml
Labels: authorized-request, sanity-ok

#239 Adding Red Hat NodeJs EX K chart to charts.openshift.io
  charts/redhat/redhat/nodejs-ex-k/0.2.1/nodejs-ex-k-0.2.1.tgz
  charts/redhat/redhat/nodejs-ex-k/0.2.1/report.yaml
Labels: authorized-request, sanity-ok

#240 Adding RH Wildfly chart to charts.openshift.io
  charts/redhat/redhat/wildfly/1.4.0/report.yaml
  charts/redhat/redhat/wildfly/1.4.0/wildfly-1.4.0.tgz
Labels: authorized-request, sanity-ok

#278 HashiCorp Vault v0.14.0
  charts/partners/hashicorp/vault/0.14.0/src/.helmignore
  charts/partners/hashicorp/vault/0.14.0/src/CHANGELOG.md
  charts/partners/hashicorp/vault/0.14.0/src/CONTRIBUTING.md
  charts/partners/hashicorp/vault/0.14.0/src/Chart.yaml
  charts/partners/hashicorp/vault/0.14.0/src/LICENSE.md
  charts/partners/hashicorp/vault/0.14.0/src/Makefile
  charts/partners/hashicorp/vault/0.14.0/src/README.md
  charts/partners/hashicorp/vault/0.14.0/src/templates/NOTES.txt
  charts/partners/hashicorp/vault/0.14.0/src/templates/_helpers.tpl
  charts/partners/hashicorp/vault/0.14.0/src/templates/csi-clusterrole.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/csi-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/csi-daemonset.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/csi-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-certs-secret.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-clusterrole.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-deployment.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-leader-endpoint.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-mutating-webhook.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-network-policy.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-psp-role.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-psp.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-role.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-rolebinding.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-service.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/injector-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-config-configmap.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-discovery-role.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-discovery-rolebinding.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-disruptionbudget.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-ha-active-service.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-ha-standby-service.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-headless-service.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-ingress.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-network-policy.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-psp-role.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-psp.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-route.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-service.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/server-statefulset.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/tests/server-test.yaml
  charts/partners/hashicorp/vault/0.14.0/src/templates/ui-service.yaml
  charts/partners/hashicorp/vault/0.14.0/src/values.openshift.yaml
  charts/partners/hashicorp/vault/0.14.0/src/values.schema.json
  charts/partners/hashicorp/vault/0.14.0/src/values.yaml
Labels: authorized-request, sanity-ok
