Repository openshift-helm-charts/charts, pull requests merged in 2021-05, with the labels that each got.

#70 add 2.0.8
  charts/partners/ibm/ibm-object-storage-plugin/2.0.8/ibm-object-storage-plugin-2.0.8.tgz
  charts/partners/ibm/ibm-object-storage-plugin/2.0.8/report.yaml
Labels: authorized-request, sanity-ok

#71 Test update
  charts/partners/helm-demo/test-morning/0.1.0/report.yaml
  charts/partners/helm-demo/test-morning/0.1.0/src/Chart.yaml
  charts/partners/helm-demo/test-morning/0.1.0/src/README.md
  charts/partners/helm-demo/test-morning/0.1.0/src/templates/NOTES.txt
  charts/partners/helm-demo/test-morning/0.1.0/src/templates/_helpers.tpl
  charts/partners/helm-demo/test-morning/0.1.0/src/templates/deployment.yaml
  charts/partners/helm-demo/test-morning/0.1.0/src/templates/hpa.yaml
  charts/partners/helm-demo/test-morning/0.1.0/src/templates/ingress.yaml
  charts/partners/helm-demo/test-morning/0.1.0/src/templates/service.yaml
  charts/partners/helm-demo/test-morning/0.1.0/src/templates/serviceaccount.yaml
  charts/partners/helm-demo/test-morning/0.1.0/src/templates/tests/test-connection.yaml
  charts/partners/helm-demo/test-morning/0.1.0/src/values.schema.json
  charts/partners/helm-demo/test-morning/0.1.0/src/values.yaml
Labels: authorized-request, sanity-ok

#75 add files
  charts/partners/helm-demo/helm-demo-chart/0.1.0/report.yaml
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/Chart.yaml
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/README.md
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/templates/NOTES.txt
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/templates/_helpers.tpl
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/templates/deployment.yaml
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/templates/hpa.yaml
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/templates/ingress.yaml
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/templates/service.yaml
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/templates/serviceaccount.yaml
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/templates/tests/test-connection.yaml
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/values.schema.json
  charts/partners/helm-demo/helm-demo-chart/0.1.0/src/values.yaml
Labels: authorized-request, sanity-ok

#73 Added tests for publishing helm chart project
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/report.yaml
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/Chart.yaml
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/README.md
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/templates/NOTES.txt
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/templates/_helpers.tpl
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/templates/deployment.yaml
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/templates/hpa.yaml
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/templates/ingress.yaml
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/templates/service.yaml
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/templates/serviceaccount.yaml
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/templates/tests/test-connection.yaml
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/values.schema.json
  charts/partners/atiwary-containers/helm-test-project-github/0.1.0/src/values.yaml
Labels: authorized-request, sanity-ok

#81 Demo with chart source and no report
  charts/partners/test-org1/awesome/0.1.0/src/.helmignore
  charts/partners/test-org1/awesome/0.1.0/src/Chart.yaml
  charts/partners/test-org1/awesome/0.1.0/src/README.md
  charts/partners/test-org1/awesome/0.1.0/src/templates/NOTES.txt
  charts/partners/test-org1/awesome/0.1.0/src/templates/_helpers.tpl
  charts/partners/test-org1/awesome/0.1.0/src/templates/deployment.yaml
  charts/partners/test-org1/awesome/0.1.0/src/templates/hpa.yaml
  charts/partners/test-org1/awesome/0.1.0/src/templates/ingress.yaml
  charts/partners/test-org1/awesome/0.1.0/src/templates/service.yaml
  charts/partners/test-org1/awesome/0.1.0/src/templates/serviceaccount.yaml
  charts/partners/test-org1/awesome/0.1.0/src/templates/tests/test-connection.yaml
  charts/partners/test-org1/awesome/0.1.0/src/values.schema.json
  charts/partners/test-org1/awesome/0.1.0/src/values.yaml
Labels: authorized-request, sanity-ok

#96 All good
  charts/partners/demo-partner/awesome/1.0.0/report.yaml
  charts/partners/demo-partner/awesome/1.0.0/src/.helmignore
  charts/partners/demo-partner/awesome/1.0.0/src/Chart.yaml
  charts/partners/demo-partner/awesome/1.0.0/src/README.md
  charts/partners/demo-partner/awesome/1.0.0/src/templates/NOTES.txt
  charts/partners/demo-partner/awesome/1.0.0/src/templates/_helpers.tpl
  charts/partners/demo-partner/awesome/1.0.0/src/templates/deployment.yaml
  charts/partners/demo-partner/awesome/1.0.0/src/templates/hpa.yaml
  charts/partners/demo-partner/awesome/1.0.0/src/templates/ingress.yaml
  charts/partners/demo-partner/awesome/1.0.0/src/templates/service.yaml
  charts/partners/demo-partner/awesome/1.0.0/src/templates/serviceaccount.yaml
  charts/partners/demo-partner/awesome/1.0.0/src/templates/tests/test-connection.yaml
  charts/partners/demo-partner/awesome/1.0.0/src/values.schema.json
  charts/partners/demo-partner/awesome/1.0.0/src/values.yaml
Labels: authorized-request, sanity-ok

#102 Setup chart for first PR
  charts/partners/demo-partner/setup/1.0.0/report.yaml
  charts/partners/demo-partner/setup/1.0.0/setup-1.0.0.tgz
Labels: authorized-request, sanity-ok

#122 Kube version
  scripts/src/chartprreview/verify-report.sh
Labels: authorized-request

#129 Added dxp-demo-helm-1 helm chart
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/report.yaml
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/Chart.yaml
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/README.md
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/templates/NOTES.txt
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/templates/_helpers.tpl
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/templates/deployment.yaml
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/templates/hpa.yaml
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/templates/ingress.yaml
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/templates/service.yaml
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/templates/serviceaccount.yaml
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/templates/tests/test-connection.yaml
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/values.schema.json
  charts/partners/atiwary-containers/dxp-demo-helm-1/0.1.0/src/values.yaml
Labels: sanity-ok

#142 Submiting redhat psql chart for certification.
  charts/partners/demo-partner/psql-service/0.1.0/psql-service-0.1.0.tgz
  charts/partners/demo-partner/psql-service/0.1.0/report.yaml
Labels: authorized-request, sanity-ok

#149 Submit psql 0.1.1 chart for certification
  charts/partners/demo-partner/psql-service/0.1.1/psql-service-0.1.1.tgz
  charts/partners/demo-partner/psql-service/0.1.1/report.yaml
Labels: authorized-request, sanity-ok

#156 PSQL cert version 0.1.3
  charts/partners/test-org1/psql-service/0.1.3/psql-service-0.1.3.tgz
  charts/partners/test-org1/psql-service/0.1.3/report.yaml
Labels: authorized-request, sanity-ok

#158 PSQL cert 0.1.5
  charts/partners/test-org1/psql-service/0.1.5/psql-service-0.1.5.tgz
  charts/partners/test-org1/psql-service/0.1.5/report.yaml
Labels: authorized-request, sanity-ok

#159 PSQL cert 0.1.6
  charts/partners/test-org1/psql-service/0.1.6/psql-service-0.1.6.tgz
Labels: authorized-request, sanity-ok

#160 PSQL Cert 0.1.7
  charts/partners/test-org1/psql-service/0.1.7/psql-service-0.1.7.tgz
Labels: authorized-request, sanity-ok

#171 PSQL Certification 0.1.8
  charts/partners/test-org1/psql-service/0.1.8/psql-service-0.1.8.tgz
Labels: authorized-request, sanity-ok

#173 PSQL Certification 0.1.9
  charts/partners/test-org1/psql-service/0.1.9/src/.helmignore
  charts/partners/test-org1/psql-service/0.1.9/src/Chart.yaml
  charts/partners/test-org1/psql-service/0.1.9/src/README.md
  charts/partners/test-org1/psql-service/0.1.9/src/runtime_value.yaml
  charts/partners/test-org1/psql-service/0.1.9/src/templates/_helpers.tpl
  charts/partners/test-org1/psql-service/0.1.9/src/templates/deployment.yaml
  charts/partners/test-org1/psql-service/0.1.9/src/templates/service.yaml
  charts/partners/test-org1/psql-service/0.1.9/src/templates/tests/test-psql-connection.yaml
  charts/partners/test-org1/psql-service/0.1.9/src/values.schema.json
  charts/partners/test-org1/psql-service/0.1.9/src/values.yaml
Labels: authorized-request, sanity-ok

#174 PSQL Certification 0.1.10
  charts/partners/test-org1/psql-service/0.1.10/src/.helmignore
  charts/partners/test-org1/psql-service/0.1.10/src/Chart.yaml
  charts/partners/test-org1/psql-service/0.1.10/src/README.md
  charts/partners/test-org1/psql-service/0.1.10/src/runtime_value.yaml
  charts/partners/test-org1/psql-service/0.1.10/src/templates/_helpers.tpl
  charts/partners/test-org1/psql-service/0.1.10/src/templates/deployment.yaml
  charts/partners/test-org1/psql-service/0.1.10/src/templates/service.yaml
  charts/partners/test-org1/psql-service/0.1.10/src/templates/tests/test-psql-connection.yaml
  charts/partners/test-org1/psql-service/0.1.10/src/values.schema.json
  charts/partners/test-org1/psql-service/0.1.10/src/values.yaml
Labels: authorized-request, sanity-ok
