Repository openshift-helm-charts/charts, pull requests merged in 2021-04, with the labels that each got.

#25 remove report
  charts/partners/test-org1/test-chart/0.1.0/report.yaml
  charts/partners/test-org1/test-chart/0.1.0/report.yaml.asc
  charts/partners/test-org1/test-chart/0.1.0/src/README.md
Labels: authorized-request, sanity-ok

#28 Initial report script - provides info in test results and annotations
  scripts/src/chartprreview/verify-report.sh
Labels: authorized-request

#26 test dev
  charts/partners/balabitcorp/the-test-chart/0.1.0/report.yaml
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/Chart.yaml
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/README.md
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/templates/NOTES.txt
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/templates/_helpers.tpl
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/templates/deployment.yaml
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/templates/hpa.yaml
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/templates/ingress.yaml
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/templates/service.yaml
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/templates/serviceaccount.yaml
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/templates/tests/test-connection.yaml
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/values.schema.json
  charts/partners/balabitcorp/the-test-chart/0.1.0/src/values.yaml
Labels: authorized-request, sanity-ok

#45 acme awesome chart 1.0.0 with report
  charts/partners/acme/awesome/1.0.0/report.yaml
  charts/partners/acme/awesome/1.0.0/report.yaml.asc
  charts/partners/acme/awesome/1.0.0/src/.helmignore
  charts/partners/acme/awesome/1.0.0/src/Chart.yaml
  charts/partners/acme/awesome/1.0.0/src/README.md
  charts/partners/acme/awesome/1.0.0/src/templates/NOTES.txt
  charts/partners/acme/awesome/1.0.0/src/templates/_helpers.tpl
  charts/partners/acme/awesome/1.0.0/src/templates/deployment.yaml
  charts/partners/acme/awesome/1.0.0/src/templates/hpa.yaml
  charts/partners/acme/awesome/1.0.0/src/templates/ingress.yaml
  charts/partners/acme/awesome/1.0.0/src/templates/service.yaml
  charts/partners/acme/awesome/1.0.0/src/templates/serviceaccount.yaml
  charts/partners/acme/awesome/1.0.0/src/templates/tests/test-connection.yaml
  charts/partners/acme/awesome/1.0.0/src/values.schema.json
  charts/partners/acme/awesome/1.0.0/src/values.yaml
Labels: authorized-request, sanity-ok

#54 add chart files
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/report.yaml
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/Chart.yaml
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/README.md
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/templates/NOTES.txt
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/templates/_helpers.tpl
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/templates/deployment.yaml
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/templates/hpa.yaml
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/templates/ingress.yaml
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/templates/service.yaml
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/templates/serviceaccount.yaml
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/templates/tests/test-connection.yaml
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/values.schema.json
  charts/partners/anikifor-demo/anikifor-chart2/0.1.0/src/values.yaml
Labels: authorized-request, sanity-ok

#55 add chart files
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/report.yaml
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/Chart.yaml
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/README.md
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/templates/NOTES.txt
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/templates/_helpers.tpl
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/templates/deployment.yaml
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/templates/hpa.yaml
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/templates/ingress.yaml
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/templates/service.yaml
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/templates/serviceaccount.yaml
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/templates/tests/test-connection.yaml
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/values.schema.json
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/values.yaml
Labels: authorized-request, sanity-ok

#57 Check
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/report.yaml
  charts/partners/anikifor-demo/anikifor-external-chart/0.1.0/src/Chart.yaml
Labels: authorized-request, sanity-ok

#59 Helm demo
  charts/partners/anikifor-demo/helm-demo2/0.1.0/report.yaml
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/Chart.yaml
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/README.md
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/templates/NOTES.txt
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/templates/_helpers.tpl
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/templates/deployment.yaml
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/templates/hpa.yaml
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/templates/ingress.yaml
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/templates/service.yaml
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/templates/serviceaccount.yaml
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/templates/tests/test-connection.yaml
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/values.schema.json
  charts/partners/anikifor-demo/helm-demo2/0.1.0/src/values.yaml
Labels: authorized-request, sanity-ok

#65 add chart verifier report
  charts/partners/ibm/ibm-oms-ent-prod/6.0.0/report.yaml
Labels: authorized-request, sanity-ok

#52 add metadata to report options
  scripts/src/chartprreview/verify-report.sh
Labels: allow/ci-changes
