Repository openshift-helm-charts/charts, pull requests merged in 2022-03, with the labels that each got.

#408 Adding Spring Boot REST HTTP example to charts.openshift.io
  charts/redhat/redhat/spring-boot-rest-http/0.0.1/report.yaml
  charts/redhat/redhat/spring-boot-rest-http/0.0.1/spring-boot-rest-http-0.0.1.tgz
Labels: sanity-ok, authorized-request

#423 Add Data Grid 8.3 chart
  charts/redhat/redhat/data-grid/8.3.0/data-grid-8.3.0.tgz
Labels: sanity-ok, authorized-request

#433 Add Wavefront release 1.9.0
  charts/partners/wavefronthq/wavefront/1.9.0/report.yaml
  charts/partners/wavefronthq/wavefront/1.9.0/wavefront-1.9.0.tgz
Labels: sanity-ok, authorized-request

#421 Add Infinispan 0.2.1 Chart
  charts/community/infinispan/infinispan/0.2.1/infinispan-0.2.1.tgz
Labels: sanity-ok, authorized-request, force-publish

#400 Add a Vert.x chart
  charts/redhat/redhat/vertx/0.0.1/src/Chart.yaml
  charts/redhat/redhat/vertx/0.0.1/src/README.md
  charts/redhat/redhat/vertx/0.0.1/src/templates/NOTES.txt
  charts/redhat/redhat/vertx/0.0.1/src/templates/_helpers.tpl
  charts/redhat/redhat/vertx/0.0.1/src/templates/buildconfig.yaml
  charts/redhat/redhat/vertx/0.0.1/src/templates/configmap.yaml
  charts/redhat/redhat/vertx/0.0.1/src/templates/deployment.yaml
  charts/redhat/redhat/vertx/0.0.1/src/templates/imagestream.yaml
  charts/redhat/redhat/vertx/0.0.1/src/templates/route.yaml
  charts/redhat/redhat/vertx/0.0.1/src/templates/service.yaml
  charts/redhat/redhat/vertx/0.0.1/src/values.schema.json
  charts/redhat/redhat/vertx/0.0.1/src/values.yaml
Labels: sanity-ok, authorized-request

#434 Add wavefront release version 1.9.1
  charts/partners/wavefronthq/wavefront/1.9.1/report.yaml
  charts/partners/wavefronthq/wavefront/1.9.1/wavefront-1.9.1.tgz
Labels: sanity-ok, authorized-request

#435 Add Wavefront Version 1.9.2
  charts/partners/wavefronthq/wavefront/1.9.2/report.yaml
  charts/partners/wavefronthq/wavefront/1.9.2/wavefront-1.9.2.tgz
Labels: sanity-ok, authorized-request

#436 Add 1.9.3 wavefront release
  charts/partners/wavefronthq/wavefront/1.9.3/report.yaml
  charts/partners/wavefronthq/wavefront/1.9.3/wavefront-1.9.3.tgz
Labels: sanity-ok, authorized-request

#438 Added installation method, update charts to 1.9.4
  charts/partners/wavefronthq/wavefront/1.9.4/report.yaml
  charts/partners/wavefronthq/wavefront/1.9.4/wavefront-1.9.4.tgz
Labels: sanity-ok, authorized-request

#441 Create report.yaml for chart 2.1.12
  charts/partners/ibm/ibm-object-storage-plugin/2.1.12/report.yaml
Labels: authorized-request, content-ok

#443 Adding the PostgreSQL Service Endpoint Definition (SED) chart.
  charts/redhat/redhat/psql-sed/1.0.0/psql-sed-1.0.0.tgz
  charts/redhat/redhat/psql-sed/1.0.0/report.yaml
Labels: authorized-request, content-ok

#447 Added mysql-sed archive and report yaml for MySQL Service Endpoint Definition
  charts/redhat/redhat/mysql-sed/0.1.0/mysql-sed-0.1.0.tgz
  charts/redhat/redhat/mysql-sed/0.1.0/report.yaml
Labels: authorized-request, content-ok

#450 Release wavefront chart 1.10.0
  charts/partners/wavefronthq/wavefront/1.10.0/report.yaml
  charts/partners/wavefronthq/wavefront/1.10.0/wavefront-1.10.0.tgz
Labels: authorized-request, content-ok

#451 Adding report.yaml and mongo-sed chart archive
  charts/redhat/redhat/mongo-sed/1.0.0/mongo-sed-1.0.0.tgz
  charts/redhat/redhat/mongo-sed/1.0.0/report.yaml
Labels: authorized-request, content-ok

#449 Certify lacework-agent-5.4.1 charts for openshift
  charts/partners/lacework/lacework-agent/5.4.1/lacework-agent-5.4.1.tgz
  charts/partners/lacework/lacework-agent/5.4.1/report.yaml
Labels: authorized-request, content-ok

#452 Create report.yaml
  charts/partners/ibm/ibm-object-storage-plugin/2.1.13/report.yaml
Labels: authorized-request, content-ok

#453 Release wavefront chart 1.10.1
  charts/partners/wavefronthq/wavefront/1.10.1/report.yaml
  charts/partners/wavefronthq/wavefront/1.10.1/wavefront-1.10.1.tgz
Labels: authorized-request, content-ok

#454 Release wavefront chart 1.10.2
  charts/partners/wavefronthq/wavefront/1.10.2/report.yaml
  charts/partners/wavefronthq/wavefront/1.10.2/wavefront-1.10.2.tgz
Labels: authorized-request, content-ok
