Repository openshift-helm-charts/charts, pull requests merged in 2022-06, with the labels that each got.

#492 KovairDevOps Helm Chart v0.1.0
  charts/partners/kovair/kovairdevops-helm/0.1.0/kovairdevops-helm-0.1.0.tgz
Labels: authorized-request, content-ok

#495 'update version-0.14.1'
  charts/partners/mavenir/cuup/0.14.1/report.yaml
Labels: authorized-request, content-ok

#501 new du report
  charts/partners/mavenir/du/du5.0.326-53/report.yaml
Labels: content-ok

#504 Use simplified health check
  charts/redhat/redhat/cryostat/0.1.3/src/Chart.yaml
  charts/redhat/redhat/cryostat/0.1.3/src/LICENSE
  charts/redhat/redhat/cryostat/0.1.3/src/README.md
  charts/redhat/redhat/cryostat/0.1.3/src/templates/NOTES.txt
  charts/redhat/redhat/cryostat/0.1.3/src/templates/_helpers.tpl
  charts/redhat/redhat/cryostat/0.1.3/src/templates/deployment.yaml
  charts/redhat/redhat/cryostat/0.1.3/src/templates/ingress.yaml
  charts/redhat/redhat/cryostat/0.1.3/src/templates/role.yaml
  charts/redhat/redhat/cryostat/0.1.3/src/templates/rolebinding.yaml
  charts/redhat/redhat/cryostat/0.1.3/src/templates/route.yaml
  charts/redhat/redhat/cryostat/0.1.3/src/templates/service.yaml
  charts/redhat/redhat/cryostat/0.1.3/src/templates/serviceaccount.yaml
  charts/redhat/redhat/cryostat/0.1.3/src/templates/tests/test-connection.yaml
  charts/redhat/redhat/cryostat/0.1.3/src/values.schema.json
  charts/redhat/redhat/cryostat/0.1.3/src/values.yaml
Labels: authorized-request, content-ok

#510 publish 2.1.17 charts
  charts/partners/ibm/ibm-object-storage-plugin/2.1.17/report.yaml
Labels: authorized-request, content-ok

#508 publish 2.1.15 charts
  charts/partners/ibm/ibm-object-storage-plugin/2.1.15/report.yaml
Labels: authorized-request, force-publish, content-ok

#511 Illumio chart report
  charts/partners/illumio/illumio/1.0.0/report.yaml
Labels: authorized-request, content-ok
