Repository openshift-helm-charts/charts, pull requests merged in 2022-07, with the labels that each got.

#530 Create report.yaml 2.1.18 Chart ibmcloud-object-storage-plugin
  charts/partners/ibm/ibm-object-storage-plugin/2.1.18/report.yaml
Labels: authorized-request, content-ok

#531 Add Infinispan 0.2.2 Chart
  charts/community/infinispan/infinispan/0.2.2/infinispan-0.2.2.tgz
Labels: authorized-request, force-publish, content-ok

#539 uverifier helm chart certification
  charts/partners/exfo/uverifier/0.1.2/report.yaml
  charts/partners/exfo/uverifier/0.1.2/uverifier-0.1.2.tgz
Labels: authorized-request, content-ok

#540 Add Helm Chart for EAP XP4
  charts/redhat/redhat/eap-xp4/1.0.0/eap-xp4-1.0.0.tgz
Labels: authorized-request, content-ok

#543 Create report.yaml v2.1.19 for ibmcloud-object-storage-plugin
  charts/partners/ibm/ibm-object-storage-plugin/2.1.19/report.yaml
Labels: authorized-request, content-ok

#541 5gduchart_report_update5gduchart_report_update5gduchart_report_update…
  charts/partners/mavenir/5gdu/5gdu_5.0.1-563/report.yaml
Labels: content-ok
