Repository openshift-helm-charts/charts, pull requests merged in 2023-09, with the labels that each got.

#1048 Nabstract NEF Helm chart v2.0.0
  charts/partners/nabstract/nef-nabstract/2.0.0/nef-nabstract-2.0.0.tgz
  charts/partners/nabstract/nef-nabstract/2.0.0/report.yaml
Labels: authorized-request, content-ok

#1053 Added helm chart verification report with web-catalog project type
  charts/partners/sapiens/idit-runtime/1.0.18/report.yaml
Labels: authorized-request, content-ok

#1054 chore: add backstage-2.4.0
  charts/community/janus-idp/backstage/2.4.0/backstage-2.4.0.tgz
Labels: authorized-request, force-publish, content-ok

#1056 Add YugabyteDB Anywhere (yugaware) 2.18.2 chart
  charts/partners/yugabytedb/yugaware-openshift/2.18.2/report.yaml
Labels: authorized-request, content-ok

#1037 Adding results from chart-verifier
  charts/partners/ss8inc/xcipio-helm-ccpag-0-1-0/0.1.0/report.yaml
Labels: authorized-request, content-ok

#1038 Initial chart-verifier report for MDF3
  charts/partners/ss8inc/xcipio-helm-mdf3-0-1-0/0.1.0/report.yaml
Labels: authorized-request, content-ok

#1036 HashiCorp Vault v0.24.1
  charts/partners/hashicorp/vault/0.24.1/src/.helmignore
  charts/partners/hashicorp/vault/0.24.1/src/CHANGELOG.md
  charts/partners/hashicorp/vault/0.24.1/src/CONTRIBUTING.md
  charts/partners/hashicorp/vault/0.24.1/src/Chart.yaml
  charts/partners/hashicorp/vault/0.24.1/src/LICENSE
  charts/partners/hashicorp/vault/0.24.1/src/Makefile
  charts/partners/hashicorp/vault/0.24.1/src/README.md
  charts/partners/hashicorp/vault/0.24.1/src/templates/NOTES.txt
  charts/partners/hashicorp/vault/0.24.1/src/templates/_helpers.tpl
  charts/partners/hashicorp/vault/0.24.1/src/templates/csi-agent-configmap.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/csi-clusterrole.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/csi-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/csi-daemonset.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/csi-role.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/csi-rolebinding.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/csi-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-certs-secret.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-clusterrole.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-deployment.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-disruptionbudget.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-mutating-webhook.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-network-policy.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-psp-role.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-psp.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-role.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-rolebinding.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-service.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/injector-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/prometheus-prometheusrules.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/prometheus-servicemonitor.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-config-configmap.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-discovery-role.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-discovery-rolebinding.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-disruptionbudget.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-ha-active-service.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-ha-standby-service.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-headless-service.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-ingress.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-network-policy.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-psp-role.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-psp.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-route.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-service.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/server-statefulset.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/tests/server-test.yaml
  charts/partners/hashicorp/vault/0.24.1/src/templates/ui-service.yaml
  charts/partners/hashicorp/vault/0.24.1/src/values.openshift.yaml
  charts/partners/hashicorp/vault/0.24.1/src/values.schema.json
  charts/partners/hashicorp/vault/0.24.1/src/values.yaml
Labels: authorized-request, content-ok

#1058 HashiCorp Vault v0.25.0
  charts/partners/hashicorp/vault/0.25.0/src/.helmignore
  charts/partners/hashicorp/vault/0.25.0/src/CHANGELOG.md
  charts/partners/hashicorp/vault/0.25.0/src/CODEOWNERS
  charts/partners/hashicorp/vault/0.25.0/src/CONTRIBUTING.md
  charts/partners/hashicorp/vault/0.25.0/src/Chart.yaml
  charts/partners/hashicorp/vault/0.25.0/src/LICENSE
  charts/partners/hashicorp/vault/0.25.0/src/Makefile
  charts/partners/hashicorp/vault/0.25.0/src/README.md
  charts/partners/hashicorp/vault/0.25.0/src/templates/NOTES.txt
  charts/partners/hashicorp/vault/0.25.0/src/templates/_helpers.tpl
  charts/partners/hashicorp/vault/0.25.0/src/templates/csi-agent-configmap.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/csi-clusterrole.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/csi-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/csi-daemonset.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/csi-role.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/csi-rolebinding.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/csi-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-certs-secret.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-clusterrole.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-deployment.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-disruptionbudget.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-mutating-webhook.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-network-policy.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-psp-role.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-psp.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-role.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-rolebinding.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-service.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/injector-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/prometheus-prometheusrules.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/prometheus-servicemonitor.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-config-configmap.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-discovery-role.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-discovery-rolebinding.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-disruptionbudget.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-ha-active-service.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-ha-standby-service.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-headless-service.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-ingress.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-network-policy.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-psp-role.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-psp.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-route.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-service.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/server-statefulset.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/tests/server-test.yaml
  charts/partners/hashicorp/vault/0.25.0/src/templates/ui-service.yaml
  charts/partners/hashicorp/vault/0.25.0/src/values.openshift.yaml
  charts/partners/hashicorp/vault/0.25.0/src/values.schema.json
  charts/partners/hashicorp/vault/0.25.0/src/values.yaml
Labels: authorized-request, content-ok

#1076 add initial OWNERS file for trusted-artifact-signer
  charts/redhat/redhat/trusted-artifact-signer/OWNERS
Labels: force-publish

#1077 chore: add developer-hub-0.2.0
  charts/redhat/redhat/developer-hub/0.2.0/developer-hub-0.2.0.tgz
Labels: authorized-request, content-ok
