Repository openshift-helm-charts/charts, pull requests merged in 2024-07, with the labels that each got.

#1505 Add verification report for nonamesec-ubi 3.32.3
  charts/partners/nns-docker/nonamesec-ubi/3.32.3/report.yaml
Labels: authorized-request, content-ok

#1534 Add Trusted Profile Analyzer 0.1.0
  charts/redhat/redhat/redhat-trusted-profile-analyzer/0.1.0/redhat-trusted-profile-analyzer-0.1.0.tgz
  charts/redhat/redhat/redhat-trusted-profile-analyzer/0.1.0/report.yaml
Labels: authorized-request, content-ok

#1539 Add verification report for nonamesec-ubi 3.32.3
  charts/partners/nonamesec/nonamesec-ubi/3.32.3/report.yaml
Labels: authorized-request, content-ok

#1540 Add verification report for nonamesec-ubi 3.32.3
  charts/partners/nonamesec/nonamesec-ubi/3.32.3/report.yaml
Labels: authorized-request, content-ok

#1541 Add chart for Red Hat build of Cryostat 3.0.0
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/.helmignore
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/Chart.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/LICENSE
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/README.md
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/release-notes.md
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/NOTES.txt
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/_helpers.tpl
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/_oauth2Proxy.tpl
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/_openshiftOauthProxy.tpl
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/alpha_config.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/clusterrolebinding.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/db_secret.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/deployment.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/ingress.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/pvc.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/role.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/rolebinding.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/route.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/service.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/serviceaccount.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/storage_access_secret.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/tests/test-core-connection.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/tests/test-grafana-connection.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/templates/tests/test-storage-connection.yaml
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/values.schema.json
  charts/redhat/redhat/redhat-cryostat/1.0.0/src/values.yaml
Labels: authorized-request, content-ok

#1542 Added report.yaml
  charts/partners/nokia/cmm-operator-k8s/24.7.0-p1/report.yaml
Labels: authorized-request, content-ok

#1543 Add Trusted Application Pipeline 1.0.2
  charts/redhat/redhat/redhat-trusted-application-pipeline/1.0.2/redhat-trusted-application-pipeline-1.0.2.tgz
Labels: authorized-request, content-ok

#1544 Add YugabyteDB Anywhere (yugaware) 2.20.5 chart
  charts/partners/yugabytedb/yugaware-openshift/2.20.5/report.yaml
  charts/partners/yugabytedb/yugaware-openshift/2.20.5/yugaware-openshift-2.20.5.tgz
Labels: authorized-request, content-ok

#1546 HashiCorp Vault v0.28.1
  charts/partners/hashicorp/vault/0.28.1/src/.helmignore
  charts/partners/hashicorp/vault/0.28.1/src/CHANGELOG.md
  charts/partners/hashicorp/vault/0.28.1/src/CODEOWNERS
  charts/partners/hashicorp/vault/0.28.1/src/CONTRIBUTING.md
  charts/partners/hashicorp/vault/0.28.1/src/Chart.yaml
  charts/partners/hashicorp/vault/0.28.1/src/LICENSE
  charts/partners/hashicorp/vault/0.28.1/src/Makefile
  charts/partners/hashicorp/vault/0.28.1/src/README.md
  charts/partners/hashicorp/vault/0.28.1/src/templates/NOTES.txt
  charts/partners/hashicorp/vault/0.28.1/src/templates/_helpers.tpl
  charts/partners/hashicorp/vault/0.28.1/src/templates/csi-agent-configmap.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/csi-clusterrole.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/csi-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/csi-daemonset.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/csi-role.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/csi-rolebinding.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/csi-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-certs-secret.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-clusterrole.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-deployment.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-disruptionbudget.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-mutating-webhook.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-network-policy.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-psp-role.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-psp.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-role.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-rolebinding.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-service.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/injector-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/prometheus-prometheusrules.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/prometheus-servicemonitor.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-clusterrolebinding.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-config-configmap.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-discovery-role.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-discovery-rolebinding.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-disruptionbudget.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-ha-active-service.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-ha-standby-service.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-headless-service.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-ingress.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-network-policy.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-psp-role.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-psp-rolebinding.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-psp.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-route.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-service.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-serviceaccount-secret.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-serviceaccount.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/server-statefulset.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/tests/server-test.yaml
  charts/partners/hashicorp/vault/0.28.1/src/templates/ui-service.yaml
  charts/partners/hashicorp/vault/0.28.1/src/values.openshift.yaml
  charts/partners/hashicorp/vault/0.28.1/src/values.schema.json
  charts/partners/hashicorp/vault/0.28.1/src/values.yaml
Labels: authorized-request, content-ok

#1547 Add new Helm Chart OWNERS file
  charts/redhat/redhat/redhat-eap-xp5/OWNERS
Labels: redhat-owners-content-ok

#1477 Add Infinispan 0.4.1 Chart
  charts/community/infinispan/infinispan/0.4.1/infinispan-0.4.1.tgz
Labels: authorized-request, force-publish, content-ok

#1548 JBoss EAP XP5 Helm Charts
  charts/redhat/redhat/redhat-eap-xp5/1.0.0/redhat-eap-xp5-1.0.0.tgz
Labels: authorized-request, content-ok

#1551 Helm Charts for EAP XP 5 release
  charts/redhat/redhat/redhat-eap-xp5/1.0.0/redhat-eap-xp5-1.0.0.tgz
Labels: authorized-request, content-ok

#1553 Add Data Grid 8.5.0 helm-charts
  charts/redhat/redhat/redhat-data-grid/8.5.0/redhat-data-grid-8.5.0.tgz
Labels: authorized-request, content-ok

#1554 Add verification report for nonamesec-ubi 3.34.2
  charts/partners/nonamesec/nonamesec-ubi/3.34.2/report.yaml
Labels: authorized-request, content-ok

#1555 adding Fortune-Ndlovu github user name
  charts/redhat/redhat/redhat-developer-hub/OWNERS
Labels: redhat-owners-content-ok

#1557 Add YugabyteDB Anywhere (yugaware) 2024.1.1 chart
  charts/partners/yugabytedb/yugaware-openshift/2024.1.1/report.yaml
  charts/partners/yugabytedb/yugaware-openshift/2024.1.1/yugaware-openshift-2024.1.1.tgz
Labels: authorized-request, content-ok
