Repository openshift-helm-charts/charts, pull requests merged in 2025-04, with the labels that each got.

#1778 Added NEF Nabstract Helm chart
  charts/partners/nabstract/nef-nabstract/2.2.46/nef-nabstract-2.2.46.tgz
  charts/partners/nabstract/nef-nabstract/2.2.46/report.yaml
Labels: authorized-request, content-ok

#1777 Add OWNERS file for redhat/redhat-rhaap-self-service-preview
  charts/redhat/redhat/redhat-rhaap-self-service-preview/OWNERS
Labels: redhat-owners-content-ok

#1787 add report.yaml to botpress community project
  charts/community/mpizarro/botpress/0.1.1/report.yaml
Labels: authorized-request, force-publish, content-ok

#1796 Add Trusted Profile Analyzer 1.0.0
  charts/redhat/redhat/redhat-trusted-profile-analyzer/1.0.0/redhat-trusted-profile-analyzer-1.0.0.tgz
  charts/redhat/redhat/redhat-trusted-profile-analyzer/1.0.0/report.yaml
Labels: authorized-request, content-ok

#1803 Adding chart 5g-amfmme-global from samsung
  charts/partners/samsung/5g-amfmme-global/1.250217.9461052/report.yaml
Labels: authorized-request, content-ok

#1806 Adding chart 5g-upf-global from samsung
  charts/partners/samsung/5g-upf-global/1.250217.9461052/report.yaml
Labels: authorized-request, content-ok

#1808 Adding chart 5g-smf-global from samsung
  charts/partners/samsung/5g-smf-global/1.250217.9461052/report.yaml
Labels: authorized-request, content-ok

#1812 Adding chart 5g-nrf-global from samsung
  charts/partners/samsung/5g-nrf-global/1.250217.9461052/report.yaml
Labels: authorized-request, content-ok

#1814 Adding chart 5g-nssf-global from samsung
  charts/partners/samsung/5g-nssf-global/1.250217.9461052/report.yaml
Labels: authorized-request, content-ok

#1816 Adding chart 5g-csdb-global from samsung
  charts/partners/samsung/5g-csdb-global/1.250217.9461052/report.yaml
Labels: authorized-request, content-ok

#1819 Add verification report for nonamesec-ubi 3.42.3
  charts/partners/nonamesec/nonamesec-ubi/3.42.3/report.yaml
Labels: authorized-request, content-ok

#1818 Add verification report for nonamesec-ubi 3.43.9
  charts/partners/nonamesec/nonamesec-ubi/3.43.9/report.yaml
Labels: authorized-request, content-ok

#1823 Adding chart 5g-mongodb-global from samsung
  charts/partners/samsung/5g-mongodb-global/25.20250331.9564847/report.yaml
Labels: authorized-request, content-ok

#1830 Add verification report for nonamesec-ubi 666.666.666-plaint
  charts/partners/nonamesec/nonamesec-ubi/666.666.666-plaint/report.yaml
Labels: authorized-request, content-ok

#1769 Update `model-server-sample` chart
  charts/community/ai-lab/model-server-sample/0.1.6/report.yaml
Labels: authorized-request, force-publish, content-ok

#1829 Add verification report for mvtco 0.4.0-rc.1
  charts/partners/memverge/mvtco/0.4.0-rc.1/report.yaml
Labels: authorized-request, content-ok

#1835 Add verification report for nonamesec-ubi 3.45.9
  charts/partners/nonamesec/nonamesec-ubi/3.45.9/report.yaml
Labels: authorized-request, content-ok
